:root {
  --ax-h-height-55: 60px;
  --ax-s-closed-55: 50px;
  --ax-s-open-55: 240px;
  --ax-trans-55: 0.35s;

  /* Light Mode */
  --ax-bg-app-55: #f3f4f6;
  --ax-bg-navs-55: #ffffff;
  --ax-text-main-55: #111827;
  --ax-text-gray-55: #6b7280;
  --ax-border-55: #e5e7eb;
  --ax-nav-hover-55: #f9fafb;
}

[data-theme='dark'] {
  --ax-bg-app-55: #0a0a0a;
  --ax-bg-navs-55: #171717;
  --ax-text-main-55: #ededed;
  --ax-text-gray-55: #a3a3a3;
  --ax-border-55: #262626;
  --ax-nav-hover-55: #262626;
}

.AuthX_DashboardContainer_55 {
  display: flex; flex-direction: column; height: 100vh;
  overflow: hidden; background-color: var(--ax-bg-app-55); transition: background-color 0.3s ease;
}

.AuthX_TopNavbar_55 {
  height: var(--ax-h-height-55); background-color: var(--ax-bg-navs-55);
  display: flex; align-items: center; justify-content: space-between;
  padding: 0 10px; padding-right: 60px; color: var(--ax-text-main-55);
  z-index: 1001; border-bottom: 1px solid var(--ax-border-55); transition: all 0.3s ease;
}

.AuthX_UserProfileMini_55 img {
  width: 35px; height: 35px; border-radius: 50%; object-fit: cover;
  border: 2px solid var(--accent-blue);
}

.AuthX_LayoutBody_55 { display: flex; flex: 1; height: calc(100vh - var(--ax-h-height-55)); }

.AuthX_SideNavbar_55 {
  width: var(--ax-s-closed-55); background-color: var(--ax-bg-navs-55);
  transition: width var(--ax-trans-55) cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden; z-index: 1000; display: flex; flex-direction: column;
  position: fixed; height: calc(100vh - var(--ax-h-height-55));
  top: var(--ax-h-height-55); padding-top: 15px; border-right: 1px solid var(--ax-border-55);
}

.AuthX_SideNavbar_55:hover { width: var(--ax-s-open-55); }

.AuthX_NavItem_55 {
  display: flex; align-items: center; padding: 14px 12px;
  color: var(--ax-text-gray-55); text-decoration: none; transition: all 0.2s ease; white-space: nowrap;
}

.AuthX_NavItem_55:hover { background-color: var(--ax-nav-hover-55); color: var(--ax-text-main-55); }

.AuthX_NavItem_55.active {
  color: var(--accent-blue); background-color: rgba(59, 130, 246, 0.1); border-left: 4px solid var(--accent-blue);
}

.AuthX_Label_55 {
  margin-left: 20px; opacity: 0; font-size: 15px; transition: opacity 0.2s ease; color: var(--ax-text-main-55);
}

.AuthX_SideNavbar_55:hover .AuthX_Label_55 { opacity: 1; }

.AuthX_MainContent_55 {
  flex: 1; margin-left: var(--ax-s-closed-55); background-color: var(--ax-bg-app-55);
  overflow-y: auto; overflow-x: hidden; transition: background-color 0.3s ease;
}

.AuthX_IconClick_55 {color: var(--ax-text-gray-55); }
.AuthX_IconClick_55.active , .AuthX_IconSvg_55 { color: var(--accent-blue); }

.AuthX_NotifBadge_55 {
  position: absolute; top: -2px; right: -2px; background-color: #ff4d4d;
  color: white; font-size: 10px; font-weight: bold; padding: 2px 5px;
  border-radius: 50%; min-width: 15px; text-align: center; border: 2px solid white;
}